header#banner.banner
  .wrapper
    #carousel
      #background-carousel
        #myCarousel.carousel.slide(data-ride='carousel')
          .carousel-inner
            - var first = false;
            each slide in banner.carousel
              .item(style={'background-image': 'url(' + imgpath + slide.src + ')'}, class=(slide.classes || '') + (first++ ? '' : ' active'))
    .container
      .row
        .col-sm-12.text-center
          span.banner-logo
            h2 Andy
              span.amp
              | Jane
              small=weddingDate.format('MMMM D YYYY, ha')
      .row
        .col-sm-offset-3.col-sm-7
          .timing
            #count-down-2(style={height:'140px'}, data-date=weddingDate.format('YYYY-MM-DD HH:mm:ss'))
    .color-overlay-bg
