section#dining.people.lightsmoke
  .container
    .row
      .col-sm-12.text-center
        .heading.wow.animated.fadeInUp
          h3 Dining
          p Dining will be provided by Zeffert &amp; Gold Catering. Food will be served cocktail-style throughout the Conservatory, with themed selections for each of the Mediterranean, Desert, and Tropical sections. Beer, wine, and cocktails will be served until 10pm.
          p Red velvet and black bottom cupcakes will be provided by Flavor Cupcakery. 
          p
            a(href="http://zeffertandgold.com/", target="_blank", style="margin: 0 10px", title="Zeffert & Gold")
              img(src=imgpath + "zeffert_and_gold.png", style="height: 83px;")
            a(href="http://flavorcupcakery.com/", target="_blank", style="margin: 0 10px", title="Flavor Cupcakery")
              img(src=imgpath + "flavor_cupcakery.png", style="height: 83px;")
    .row
      .col-sm-12.text-center.menu
        .heading.wow.animated.fadeInUp
          h3 Menu
        h4 Butlered Hors d&rsquo;Oeuvres
        .small served from 6pm-7:30pm
        ul.list-unstyled
          li
            strong Cinnamon-seared Tuna Spoon
          li
            strong Shrimp Tostada with Mango Salsa
          li
            strong Crab Crostini with Eastern Shore Remoulade
          li
            strong Chicken Tikka Masala Bite
          li
            strong Grilled Peach Crostini
        h4 In the Mediterranean Garden
        .small starting at 7:30pm
        ul.list-unstyled
          li
            strong Rosemary and Lemon Pan-roasted Chicken
          li
            strong Grilled Asparagus with Lemon and Olive Oil
          li
            strong Wild Mushroom Ravioli
            .small with whole-grain mustard and shallot glaze
        h4 In the Tropical Garden
        .small starting at 7:30pm
        ul.list-unstyled
          li
            strong Thai Vegetable Stir-fry
            .small panang curry sauce &centerdot; peanut sauce &centerdot; lemongrass coconut sauce
          li
            strong Rice Noodles or Soba Noodles
        h4 In the Desert Garden
        .small starting at 7:30pm
        ul.list-unstyled
          li
            strong Tex-Mex Fajita Bar
        h4 The Carvery
        .small served in the North Pavillion, starting at 7:30pm
        ul.list-unstyled
          li
            strong Chef-carved Steak and Turkey
          li
            strong Creamy Garlic Mashed Potatoes
        h4 Dessert
        .small served in the South Pavillion, starting at 9:00pm
        ul.list-unstyled
          li
            strong Black Bottom Cupcakes
          li
            strong Red Velvet Cupcakes
        h4 Beverages
        .small served in the South Pavillion and Outdoor Tent
        .small alcoholic and non-alcoholic options
