doctype html

include mixins.pug

html(lang='en')
  head
    include meta.pug
  body
    //- Header
    include navfixed.pug
    
    section.blog-bg
      .color-overlay
        .container
          .row
            .col-sm-12.text-center
              .blog-title
                h3 Andy &amp; Jane Trivia
                p How well do you know Andy &amp; Jane?
                p First person to answer all the questions correctly wins the 
                  a(href="#") Socialite
                  | &nbsp;prize basket!
      
    section.blog-content
      .container
        .row
          form(action='submitquiz.php', method='post')
            .col-sm-12.quiz-person-name
              h4 About You
              .form-group.floating-label-form-group
                .input-group
                  input.form-control#name(name='name', required='required', placeholder='John Doe')  
                  label Your Name
            
            .col-sm-12
              h4 The Quiz
              ol.questions#questions
            
            .col-sm-12
              button.btn.default-btn.submit-btn.pull-right Submit
    
    //- Footer
    include footer.pug

    //- Scripts
    // bower:js
    // endbower
    each script in scripts
      script(src=(script.indexOf('http') == 0 ? '' : '/assets/js/') + script)
      

    script.
      var questions = !{JSON.stringify(questions)};
      var shuffle = function(arr) {
        var m = arr.length, t, i;
        
        while (m) {
          i = Math.floor(Math.random() * m--);
          
          t = arr[m];
          arr[m] = arr[i];
          arr[i] = t;
        }
        
        return arr;
      }
      
      $.fn.randomize = function(childElem) {
        function shuffle(o) {
          for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i--), x = o[i], o[i] = o[j], o[j] = x);
          return o;
        };
        return this.each(function() {
          var $this = $(this);
          var elems = $this.children(childElem);

          shuffle(elems);

          $this.detach(childElem);

          elems.each(function(i, elem) {
            $this.append(elem);
          });
        });
      };
      
      $(function() {
        var $questions = $('#questions');
        
        questions.forEach(function(question, n) {
          var $li = $('<li>').appendTo($questions);
          $('<div>').addClass('question').html(question.q).appendTo($li);
          
          var $answers = $('<div>')
            .addClass('answers')
            .addClass(question.layout)
            .appendTo($li);
            
          question.a.forEach(function(answer, i) {
            var $a = $('<label>').addClass('answer').appendTo($answers);
            
            $('<input>')
              .attr('type', 'radio')
              .attr('name', 'q' + n)
              .attr('value', i)
              .addClass('quiz-form-control')
              .appendTo($a);
            
            $('<div>').html(answer).appendTo($a);
          });
          
          $answers.randomize('label');
        });
        
        $questions.randomize('li');
      });
    
      //window.onbeforeunload = function() {
      //  return true;
      //};
