doctype html

include mixins.pug

html(lang='en')
	head
		include meta.pug
	body
		//- Preloader
		include preloader.pug

		//- banner
		include banner.pug

		//- navigation
		include nav.pug

		//- couple
		include couple.pug

		//- story
		include story.pug

		//- rsvp link
		+aside('rsvpLink', rsvpLink.img)
			span.rsvpLink-title= rsvpLink.desc
			a.btn.default-btn(href=rsvpLink.contactLink) RSVP
			a.btn.default-btn(href=rsvpLink.mapLink) MAP

		//- map
		include map.pug

		//- footer
		include footer.pug

		//- scripts
		// bower:js
		// endbower
		each script in scripts
			script(src=(script.indexOf('http') == 0 ? '' : '/assets/js/') + script)
